In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import networkx as nx
import warnings
from csv import reader
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [41]:
# open file in read mode
dataset = []
with open('insurance.csv', 'r') as read_obj:
    # pass the file object to reader() to get the reader object
    csv_reader = reader(read_obj)
    # Iterate over each row in the csv using reader object
    for row in csv_reader:
        # row variable is a list that represents a row in csv
        dataset.append(row)

In [42]:
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

,0,1,10043.249,10065.413,10072.05505,10085.846,10096.97,10106.13425,10107.2206,10115.00885,...,male,no,northeast,northwest,region,sex,smoker,southeast,southwest,yes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
2,False,True,False,False,False,False,False,False,False,False,...,True,True,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,False,False,True,False,False
4,True,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,False,False,False,False
1335,True,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
1336,True,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,False
1337,True,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
1338,True,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True

In [43]:
frequent_itemsets=apriori(df, min_support=0.05, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

     support                 itemsets
0   0.428678                      (0)
1   0.241972                      (1)
2   0.051531                     (18)
3   0.051531                     (19)
4   0.179238                      (2)
..       ...                      ...
75  0.105302  (southwest, no, female)
76  0.093353    (northeast, male, no)
77  0.098581    (male, no, northwest)
78  0.100075    (male, no, southeast)
79  0.094100    (southwest, male, no)

[80 rows x 2 columns]

In [49]:
data = pd.read_csv('insurance.csv', header = None)
data

        0       1       2         3       4          5            6
0     age     sex     bmi  children  smoker     region      charges
1      19  female    27.9         0     yes  southwest    16884.924
2      18    male   33.77         1      no  southeast    1725.5523
3      28    male      33         3      no  southeast     4449.462
4      33    male  22.705         0      no  northwest  21984.47061
...   ...     ...     ...       ...     ...        ...          ...
1334   50    male   30.97         3      no  northwest   10600.5483
1335   18  female   31.92         0      no  northeast    2205.9808
1336   18  female   36.85         0      no  southeast    1629.8335
1337   21  female    25.8         0      no  southwest     2007.945
1338   61  female   29.07         0     yes  northwest   29141.3603

[1339 rows x 7 columns]

In [50]:
data.describe()

           0     1     2     3     4          5          6
count   1339  1339  1339  1339  1339       1339       1339
unique    48     3   549     7     3          5       1338
top       18  male  32.3     0    no  southeast  1639.5631
freq      69   676    13   574  1064        364          2

In [48]:
association_rules(frequent_itemsets,metric="lift",min_threshold=1.2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(yes),(southeast),0.204630,0.271845,0.067961,0.332117,1.221715,0.012334,1.090244
1,(southeast),(yes),0.271845,0.204630,0.067961,0.250000,1.221715,0.012334,1.060493

In [ ]:
"""after the association rule using the lift methode we notice that usally people in the southeast of the USA that somke are charged 120% higher than the average"""